body {
  margin:           0;
  margin-left:      1em;
  padding:          0;
  font-size:        80%;
  font-family:      'Lucida Grande', verdana, helvetica, arial, sans-serif;
  line-height:      1.6em;
}

a.toggle-vos {
  color: #800000;
  text-decoration: none;
}

a:visited,
a:link {
  color: #800000;
  text-decoration: none;
}

a:active,
a:hover {
  color: #4D0000;
  text-decoration: none;
}

th {
  text-align: right;
}

th, td {
  border-bottom: 1px solid #ddd;
}

th#left {
  text-align: left;
    /*background-color:#eee;*/
    color:#800000;
    font-weight: bold;
    cursor: default;
}

th#center {
  text-align: center;
    /*background-color:#eee;*/
    color:#800000;
    font-weight: bold;
    cursor: default;
}

td#center {
  text-align: center;
}

tbody tr:nth-child(even) {
  background: #e9e9e9;
}

thead input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

 @import url('//cdn.datatables.net/1.10.2/css/jquery.dataTables.css');
 td.details-control {
    background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('http://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
}